<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script
  src="http://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <h1 id = "name"> Akshay Agarwala </h1>
  <ul id = "social">
    <li><a href="https://www.linkedin.com/in/akshay-agarwala-65504076?trk=nav_responsive_tab_profile">Linkedin</a></li>
    <li><a href="https://github.com/agarwala802">GitHub</a></li>
  </ul>

  <br>
  <p>Hello! I am a Computer Science student/Tutor at Queens College. I am an aspiring web developer. Here I will showcase all my previous work and keep a blog to post my thoughts on anything and everything code related. Enjoy!</p>
  <p>My Work:</p>
  <ul id = "list">
  <!-- List for GitHub repos -->
  </ul>

  <script src = "script.js"></script>
</body>
</html>
